* {
  padding: 0px;
  margin: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.App {
  text-align: center;
}
.header_text {
  background-color: rgb(37, 35, 35);
  color: #46fab5;
  padding: 40px;
}
.inputHeader {
  margin-top: 50px;
}
.task {
  width: 250px;
  padding: 10px;
  border-radius: 10px;
  outline: none;
  border: 2px solid #46fab5;
  background-color: #7ef7c8;
  margin-bottom: 7px;
}
.header button {
  background-color: #5afdbf;
  padding: 10px 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgb(28 143 99 / 89%);
}

.todoList {
  background-color: #42f8b24f;
  padding: 40px;
}
